################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TrackerIoT/obj
/.vs/TrackerIoT
/TrackerIoT/bin/Debug/net8.0
